/* header */
#header__container {
  color: red;
  box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
  font-family: var(--body-font);
  background-color: #fff;
  width: 100vw;
  max-width: 1100px;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: red;
  background: white;
  padding: 0.56rem;
}

.header__content {
  margin-left: 10px;
}

.header__nav--items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav--item {
  list-style: none;
  margin-left: 1rem;
}

.header__nav--item a {
  text-decoration: none;
  display: block;
  font-size: 25px;
}

/* sidebar */
.sidebar {
  display: flex;
  height: calc(100vh - 60px);
  font-family: var(--body-font);
}

.sidebar__nav {
  width: 200px;
}

.side__items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 100px;
}

.sidebar__item {
  text-decoration: none;
}

.sidebar__item a {
  text-decoration: none;
  font-size: 14px;
  color: red;
  display: block;
  padding: 10px;
  margin-left: 20px;
  margin-top: 10px;
  background-color: #ffffff;
  border-radius: 5px;
}

.sidebar__item a:hover {
  background-color: #ff0000;
  color: #ffffff;
  transition-duration: 1s;
  box-shadow: 0 0 5px #333333;
  transition-property: background-color;
}

/* content */
.main__content {
  color: #fff;
  flex: 1 0 auto;
}

.proImage {
  display: flex;
}

.proImage div p {
  margin: 0px;
  padding: 10px;
  margin-top: 10px;
}

.sidebar__items {
  margin: 0px;
}

.sidebar__items ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.sidebar__items ul li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.main__footer--copy {
  color: #fff;
  text-align: center;
  font-family: var(--body-font);
}

.topnavigation {
  padding: 10px;
  float: right;
}

.topnavigation ul {
  margin: 0px;
  list-style: none;
  padding: 0px;
  position: relative;
}

.topnavigation ul ul {
  visibility: hidden;
  position: absolute;
  right: 10px;
}

.topnavigation ul li:hover ul {
  visibility: visible;
}
.optionNav {
  border-radius: 5px;
  width: 200px;
  height: auto;
  margin: 0px;
  list-style: none;
  padding: 0px;
  background-color: #fff;
  box-shadow: 0 0 10px #333333;
}

.optionNav li {
  display: block;
  overflow: hidden;
}

.optionNav li a {
  display: block;
  margin: 0px;
  padding: 10px;
  color: #ff0000;
  text-decoration: none;
}

.optionNav li a:hover {
  background-color: #ff0000;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 1s;
}
