@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --dashboard--color: white;
  --dashboard-background: red;
  --box-shadow: 0 8px 13px rgba(0, 0, 0, 0.5);
  --primary-text-color: red;
  --text-color: var(--dashboard--color);
  --border-radius: 8px;
  --border-radius2PX: 2px;
  --card-color: var(--dashboard--color);
  --header--background: #f3e3e3;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background: var(--dashboard-background);
}
.header__select {
  display: block;
  margin: 5px;
  padding: 2px;
}
.date__picker input[type="text"] {
  padding: 2px;
  width: 80%;
  border-radius: var(--border-radius2PX);
  border: none;
  outline: none;
  border: 1px solid #cccccc;
}

/* base styles */
a {
  text-decoration: none;
  display: block;
}

li {
  list-style: none;
}

.reports {
  max-width: 1180px;
  margin: 10px auto;
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.reports__header {
  color: var(--text-color);
  border-radius: calc(var(--border-radius) - 4px);
  color: var(--primary-text-color);
}

/* header */
.header__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
  border-radius: var(--border-radius);
  background-color: #fff;
}

.date__picker {
  flex-direction: row;
}

.header__search > input {
  outline: none;
  border: none;
  border-radius: var(--border-radius);
  height: 23px;
  width: 400px;
  padding-left: 10px;
  border: 2px solid #ccc;
  margin-top: 5px;
}

.header__search .date__picker {
  width: 50%;
  border-right: 1px solid #cccccc;
}

.header__action {
  width: 50%;
  margin-left: calc(50% - 45%);
}
.header__action select {
  width: 100%;
}

.header__action div {
  width: 50%;
}
.header__action button {
  border: none;
  padding: 3px;
  border-radius: var(--border-radius2PX);
  background-color: red;
  color: #ffffff;
  width: 85%;
  margin: 6px;
  margin-left: 10px;
}
/* main css ends here //*/

/* cards */
.reports__cards {
  background-color: #fff;
  border-radius: var(--border-radius);
  margin: 0 auto;
}

.reports__card select {
  display: block;
  margin-bottom: 10px;
}

.flex__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image__profile {
  border: 2px solid red;
  justify-content: center;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.name {
  font-size: 1.1rem;
  color: var(--primary-text-color);
}

.image__profile img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.number {
  color: #bdbbbb;
}

.amount {
  color: var(--primary-text-color);
  font: 1.125rem;
}

.amount span {
  color: #cccccc;
}

.fail {
  color: var(--primary-text-color);
}

.success {
  color: #109e68;
}

.reports__card {
  background-color: var(--card-color);
  margin-right: 12px;
  border-radius: var(--border-radius);
  padding: 1rem;
  margin-bottom: 1rem;
}

.reports__contents {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  border-radius: var(--border-radius);
}

.reports__content--one {
  width: 100%;
  background: #fff;
  border-radius: var(--border-radius);
}

/* transaction styles */
.recent__transactions {
  margin-top: 30px;
  font-size: 2rem;
  color: #fff;
}

.transaction__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-text-color);
}

.transaction__heading span {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.arrow__right {
  width: 20px;
}

.transaction__header {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  color: #ccc;
  font-size: 0.75rem;
  padding: 10px;
  padding-bottom: 0px;
}

.transaction__wrapper {
  display: flex;
  flex-direction: column;
}

.transaction__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  border-radius: var(--border-radius);
  font-size: 0.8rem;
}

.transactions span {
  display: inline-block;
}

._description {
  width: 40%;
}

._date {
  width: 15%;
}

.__payStatus_payAmount {
  width: 45%;
  display: flex;
}

._pS,
._pA,
._pM {
  width: 50%;
}

.success {
  color: #2c9464;
}

@media (max-width: 599px) and (min-width: 200px) {
  .header__search {
    display: flex;
  }

  .header__action select {
    width: 50%;
    float: right;
    margin-bottom: 5px;
  }

  .header__action div {
    width: 100%;
    margin-bottom: 5px;
  }

  .header__action button {
    width: 50%;
    color: #ffffff;
    float: right;
  }

  .header__search .date__picker div {
    margin-bottom: 5px;
  }
  .header__search .date__picker div:last-child {
    margin-bottom: 0px;
  }

  .reports__cards {
    background-color: #fff;
    margin: 0 auto;
    padding: 0.6rem;
    border-radius: var(--border-radius);
    margin-bottom: 5px;
  }

  .reports__card {
    width: auto;
    background-color: var(--card-color);
    margin-right: 0;
    border-radius: var(--border-radius);
    padding: 0px;
    margin-bottom: 0px;
  }
  .header__search {
    margin: 0 auto;
    display: flex;
  }

  .transaction__list {
    flex-direction: column;
    align-items: stretch;
    background-color: #ffffff;
  }

  .reports__card {
    margin-right: 0px;
  }

  ._pS,
  ._pA {
    justify-content: space-between;
    font-size: 14px;
  }

  .transaction__list span {
    margin-top: 0px;
    padding-top: 5px;
  }

  .transaction__header {
    display: none;
  }

  ._description {
    width: 100%;
    color: #1b1818;
  }

  ._date,
  ._pM {
    width: 100%;
  }

  ._date {
    color: #8f2e2e;
    font-size: 10px;
    font-style: italic;
  }

  ._pA {
    text-align: right;
  }

  .__payStatus_payAmount {
    border-top: 1px solid #cccccc;
    margin-top: 5px;
    width: 100%;
  }
}
/* end of transaction styles */

/* hamburger menu styles */
@media (max-width: 800px) and (min-width: 600px) {
  .header__search {
    width: 380px;
  }
  .date__picker,
  .header__action {
    display: flex;
  }
  .reports__cards {
    background-color: #fff;
    margin: 0px;
    border-radius: var(--border-radius);
    margin-bottom: 10px;
    width: 400px;
    width: 380px;
    padding: 10px;
  }

  /* transaction list */
  .transaction__list {
    flex-direction: column;
    align-items: stretch;
    background-color: #ffffff;
  }

  ._pS,
  ._pA {
    justify-content: space-between;
    font-size: 14px;
  }

  .transaction__list span {
    margin-top: 0px;
    padding-top: 5px;
  }

  .transaction__header {
    display: none;
  }

  ._description {
    width: 100%;
    color: #1b1818;
  }

  ._date,
  ._pM {
    width: 100%;
  }

  ._date {
    color: #8f2e2e;
    font-size: 10px;
    font-style: italic;
  }

  ._pA {
    text-align: right;
  }

  .__payStatus_payAmount {
    border-top: 1px solid #cccccc;
    margin-top: 5px;
    width: 100%;
  }

  /* mobile view hamburger menu */
  #menu__toggle {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    right: 5px;
    z-index: 1;
  }

  #menu__toggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menu__toggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    box-shadow: var(--box-shadow);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menu__toggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menu__toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menu__toggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383f;
  }
  #menu__toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menu__toggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 200px;
    height: 100vh;
    box-shadow: var(--box-shadow);
    margin: -50px 0 0 35px;
    padding: 50px;
    padding-top: 50px;
    padding-top: 125px;
    background-color: var(--dashboard-background);
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-75%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    padding: 10px 0;
    transition-delay: 2s;
  }

  #menu__toggle input:checked ~ ul {
    transform: none;
  }
}

@media (min-width: 601px) {
  #menu__toggle {
    display: none;
  }
}
/* bulk sms styles */

.message {
  width: 450px;
  margin: auto;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  background: var(--text-color);
  border-radius: var(--border-radius);
}

label {
  display: block;
}

.label {
  font-size: 15px;
  color: grey;
  font-weight: normal;
}

.message__header {
  text-align: center;
  margin-bottom: 15px;
}

.message__box {
  border: none;
  outline: none;
  border: 2px solid #ccc;
  padding: 8px;
  font-family: inherit;
  width: 100%;
  height: 150px;
  border-radius: var(--border-radius);
}

.form__control {
  width: 100%;
  margin-bottom: 15px;
}

.form__input {
  padding: 4px;
  height: 22px;
  border: none;
  outline: none;
  border: 2px solid #ccc;
  width: 100%;
  border-radius: var(--border-radius);
}

select {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: red;
  background-image: none;
}

select::-ms-expand {
  display: none;
}

select::-webkit-scrollbar {
  display: none;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 20em;
  height: 30px;
  line-height: 3;
  background: red;
  overflow: hidden;
  border-radius: var(--border-radius);
}
select {
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #cb2828;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
  margin-top: -8px;
  color: #fff;
}

.select:hover::after {
  color: #f39c12;
}

/* schedule buttons */
.message__schedule {
  display: flex;
  justify-content: space-between;
}

.message__schedule button {
  width: 100px;
  border: none;
  outline: none;
  padding: 0.35rem;
  border-radius: var(--border-radius);
  font-weight: bold;
  margin-left: 12px;
  margin-top: 20px;
  color: var(--text-color);
  background: var(--dashboard-background);
  cursor: pointer;
}

#button__schedule,
#button__send {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.4rem;
  cursor: pointer;
}

#button__send {
  box-shadow: var(--box-shadow);
}

.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: var(--border-radius);
  font-size: 14px;
  font-weight: 600;
  height: 14px;
  color: #fff;
  font-size: 14px;
  padding: 10px 12px;
  background-color: red;
}

.file-input__label svg {
  height: 16px;
  margin-right: 4px;
}
